@import "/src/assets/styles/mediaQueries.scss";

.edit-note {
  &__buttons {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    flex-wrap: wrap;
    @include _576 {
      margin: 24px 10px;
    }
    @include _430 {
      margin: 16px 10px;
    }
    &-item {
      margin: 5px 20px;
    }
  }
}
