@import "/src/assets/styles/colors.scss";
@import "/src/assets/styles/mediaQueries.scss";

.note {
  border-radius: 20px;
  border: 3px solid $medium-gray;
  margin-bottom: 40px;
  background-color: $background-color-dark;
  @include _768 {
    margin-bottom: 35px;
  }
  @include _576 {
    margin-bottom: 28px;
  }
  @include _430 {
    margin-bottom: 22px;
  }
  &__header {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 3px solid $medium-gray;
    &-title {
      font-size: 24px;
      @include _768 {
        font-size: 22px;
      }
      @include _430 {
        font-size: 21px;
      }
      &-date {
        padding-bottom: 8px;
        display: flex;
        align-items: center;
        &-numeric {
          font-weight: bold;
        }
        &-weekday {
          font-size: 18px;
          border: 2px solid $medium-gray;
          border-radius: 10px;
          padding: 4px 7px;
          margin-left: 15px;
          font-size: 17px;
          padding: 3px 6px;
          @include _576 {
            display: none;
          }
        }
      }
      &-time {
        @include _430 {
          font-size: 20px;
        }
      }
    }
    &-actions {
      display: flex;
      &-button {
        background-color: transparent;
        margin: 0 2px;
        border: none;
        cursor: pointer;
        display: block;
        padding: 10px;
        border-radius: 15px;
        @include _576 {
          padding: 8px;
          border-radius: 12px;
        }
        &-icon {
          width: 32px;
          height: 32px;
          @include _576 {
            width: 30px;
            height: 30px;
          }
          @include _430 {
            width: 28px;
            height: 28px;
          }
        }
        &:hover {
          background-color: $lightest-gray;
        }
      }
    }
  }
  &__content {
    padding: 10px 20px;
    font-size: 18px;
    word-wrap: break-word;
    @include _768 {
      font-size: 17px;
    }
    @include _430 {
      font-size: 16px;
    }
  }
}
