@import "/src/assets/styles/colors.scss";

.hotkeys {
  list-style: none;
  padding: 0;
}

.hotkey {
  font-size: 18px;
  padding: 16px 0;
  &__code {
    border: 3px solid $dark-gray;
    padding: 3px 7px;
    margin: 0 5px;
  }
}
