@import "/src/assets/styles/mediaQueries.scss";

.history-notes {
  &__no-notes {
    font-size: 24px;
    text-align: center;
    margin: 60px auto 40px;
    max-width: 400px;
    line-height: 1.25;
    @include _768 {
      font-size: 22px;
      margin: 50px auto 35px;
    }
    @include _576 {
      font-size: 20px;
      max-width: 300px;
      margin: 40px auto 35px;
    }
    @include _430 {
      max-width: 100%;
      font-size: 19px;
    }
  }
  &__write-button {
    margin: 0 auto 30px;
    width: fit-content;
  }
}
