@import "/src/assets/styles/mediaQueries.scss";

.container {
  padding: 0 calc(50% - 400px);
  @include _992 {
    padding: 0 calc(50% - 334px);
  }
  @include _768 {
    padding: 0 50px;
  }
  @include _576 {
    padding: 0 30px;
  }
  @include _430 {
    padding: 0 18px;
  }
}
