@import "/src/assets/styles/mediaQueries.scss";

.main-with-sidebar {
  padding: 67.4px 0 0;
  height: calc(100vh - 67.4px);
  display: flex;
  flex-direction: row;
  @include _768 {
    flex-direction: column;
    height: min-content;
  }
}
