@import "/src/assets/styles/colors.scss";
@import "/src/assets/styles/mediaQueries.scss";

.bullets {
  display: flex;
  justify-content: center;
}

.bullet {
  background-color: $background-color;
  border-radius: 50%;
  border: 3px solid $dark-gray;
  width: 27px;
  height: 27px;
  margin: 7px;
  padding: 0;
  box-sizing: content-box;
  @include _576 {
    width: 24px;
    height: 24px;
    margin: 6px;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:focus-visible {
    box-shadow: 0 0 3px 3px $light-gray;
  }
  &_checked {
    @extend .bullet;
    background-color: $medium-gray;
  }
}
