@import "~bootstrap/scss/bootstrap";

* {
  --background-color: #fafafa;
  --secondary-background-color: #e2e2e2;
  --text-color: #050505;
  --error-color: #e74859;
  --focus-shadow-large-spread: 5px;
  --focus-shadow-medium-spread: 3px;
  --form-box-shadow-color-focus-error: rgba(228, 49, 69, 0.7);
  --form-box-shadow-color-focus: rgba(23, 67, 130, 0.7);
  --green-shadow: rgba(26, 211, 81, 0.911);
  --light-border-color: gray;
  --intermediate-background-color: #f3f3f3;
  --selectable-on-secondary-item-color: #d8d8d8;
  --header-height: 3.7rem;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.input-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.input {
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  &:focus {
    background-color: var(--background-color);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
      0 0 0 var(--focus-shadow-medium-spread) var(--form-box-shadow-color-focus);
  }
}

.input-error {
  border-color: var(--error-color) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
    0 0 0 var(--focus-shadow-medium-spread)
      var(--form-box-shadow-color-focus-error) !important;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.header {
  height: var(--header-height);
  background-color: var(--secondary-background-color);
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--light-border-color);
  margin-bottom: 2rem;
  z-index: 10;
  &__title {
    flex: 1;
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
  }
  &__button {
    flex: 0 0 auto;
    padding: 0.9rem 1.5rem;
    &:hover {
      background-color: var(--selectable-on-secondary-item-color);
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.writer {
  min-height: calc(100vh - var(--header-height));
  padding: 50px 0;
  margin-top: var(--header-height);
}

.editor {
  &__actions {
    display: flex;
    justify-content: center;
  }
  &__button {
    border: 2px solid var(--light-border-color);
    border-radius: 10px;
    background-color: var(--background-color);
    margin: 30px 10px;
    display: block;
    padding: 6px 12px;
    &:hover {
      background-color: var(--secondary-background-color);
    }
    &-active {
      background-color: var(--secondary-background-color);
      &:hover {
        background-color: var(--selectable-on-secondary-item-color);
      }
    }
  }
}

.notes__title {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.note {
  margin-bottom: 2rem;
  border: 2px solid var(--light-border-color);
  border-radius: 1rem;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    border-bottom: 2px solid var(--light-border-color);
  }
  &__date {
    font-size: 1.5rem;
    margin-bottom: 5px;
    &-number {
      font-weight: bold;
    }
    &-weekday {
      margin-left: 16px;
      border: 1px solid var(--light-border-color);
      border-radius: 5px;
      padding: 2px 7px 3px;
      font-size: 1.15rem;
    }
  }
  &__time {
    font-size: 1.5rem;
  }
  &__management {
    display: flex;
    align-items: start;
  }
  &__button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    &:hover {
      background-color: var(--secondary-background-color);
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__text {
    padding: 16px 15px;
  }
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  max-width: 540px;
  margin: 30px auto;
  &__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--intermediate-background-color);
    }
    &-image svg {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }
  }

  &__pass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-form {
      display: flex;
    }
    &-input {
      font-size: 2rem;
      padding: 1rem;
      &:focus {
        background-color: var(--background-color);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
          0 0 0 var(--focus-shadow-large-spread)
            var(--form-box-shadow-color-focus);
      }
      &.input-error {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
          0 0 0 var(--focus-shadow-large-spread)
            var(--form-box-shadow-color-focus-error) !important;
      }
    }
    &-submit {
      padding: 0.75rem;
      height: 100%;
      margin-top: 0.25rem;
      margin-left: 0.5rem;
      opacity: 0.65;
      &:hover {
        opacity: 1;
      }
    }
  }
  &__last {
    flex-direction: column;
    display: flex;
    &-item {
      // padding: 10px;
      display: flex;
      border-radius: 8px;
      &:hover {
        background-color: var(--intermediate-background-color);
      }
      &-active {
        background-color: var(--secondary-background-color);
        &:hover {
          background-color: var(--selectable-on-secondary-item-color);
        }
      }

      &-text {
        flex-grow: 5;
        margin: 10px;
      }
      &-remove {
        margin: 8px 10px;
        width: 20px;
        height: 20px;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &__add {
    max-width: 440px;
    width: 100%;
    &-input {
      margin-bottom: 15px;
      font-size: 1.3rem;
      width: 100%;
    }
    &-submit {
      background-color: var(--secondary-background-color);
      border: 2px solid var(--light-border-color);
      border-radius: 10px;
      margin: 30px auto 0;
      display: block;
      padding: 6px 12px;
      &:hover {
        background-color: var(--selectable-on-secondary-item-color);
      }
    }
  }
  &__find {
    max-width: 440px;
    width: 100%;
    &-submit {
      background-color: var(--secondary-background-color);
      border: 2px solid var(--light-border-color);
      border-radius: 10px;
      margin: 30px auto 0;
      display: block;
      padding: 6px 12px;
      &:hover {
        background-color: var(--selectable-on-secondary-item-color);
      }
    }
  }
}
