@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  --background-color: #fafafa;
  --secondary-background-color: #e2e2e2;
  --text-color: #050505;
  --error-color: #e74859;
  --focus-shadow-large-spread: 5px;
  --focus-shadow-medium-spread: 3px;
  --form-box-shadow-color-focus-error: rgba(228, 49, 69, 0.7);
  --form-box-shadow-color-focus: rgba(23, 67, 130, 0.7);
  --green-shadow: rgba(26, 211, 81, 0.911);
  --light-border-color: gray;
  --intermediate-background-color: #f3f3f3;
  --selectable-on-secondary-item-color: #d8d8d8;
  --header-height: 3.7rem;
  --selected-on-secondary-item-color: #b1b1b1;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: fixed;
  width: 100%;
  height: 100%;
}

#main-content {
  overflow-y: auto;
  position: relative;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto Mono", monospace;
  overflow-y: hidden;
}

.input-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

svg {
  stroke: var(--text-color);
}

.button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: block;
  padding: 6px 12px;
  &-primary {
    border: 2px solid var(--light-border-color);
    border-radius: 10px;
    background-color: var(--secondary-background-color);

    &:hover {
      background-color: var(--selectable-on-secondary-item-color);
    }
  }
  &-secondary {
    border-radius: 10px;
    border: 2px solid var(--light-border-color);
    background-color: var(--background-color);
    &:hover {
      background-color: var(--secondary-background-color);
    }
  }
}

.input {
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  &:focus {
    background-color: var(--background-color);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
      0 0 0 var(--focus-shadow-medium-spread) var(--form-box-shadow-color-focus);
  }
}

.input-error {
  border-color: var(--error-color) !important;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
    0 0 0 var(--focus-shadow-medium-spread)
      var(--form-box-shadow-color-focus-error) !important;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.header {
  height: var(--header-height);
  background-color: var(--secondary-background-color);
  display: flex;
  border-bottom: 1px solid var(--light-border-color);
  z-index: 10;
  &__title {
    flex: 1;
    font-size: 1.3rem;
    padding: 0.8rem 1.5rem;
  }
  &__button {
    flex: 0 0 auto;
    padding: 0.9rem 1.5rem;
    cursor: pointer;
    &:hover {
      background-color: var(--selectable-on-secondary-item-color);
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.writer {
  min-height: calc(100vh - var(--header-height));
  padding-top: 60px;
  position: relative;
  &__go-down-icon {
    text-align: center;
    margin: 20px 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
    &:hover {
      opacity: 1;
    }
  }
}

.editor {
  padding-top: 30px;
  overflow-y: auto;
  &__actions {
    display: flex;
    justify-content: center;
  }
  &__button {
    margin: 30px 10px 100px;
  }
  &__title {
    font-size: 2.1rem;
    margin-bottom: 40px;
  }
  &__close {
    font-size: 2.5rem;
    position: absolute;
    top: 10px;
    right: 60px;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.notes {
  min-height: calc(100vh - var(--header-height));
  padding-top: 30px;
}
.notes__title {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.note {
  margin-bottom: 2rem;
  border: 2px solid var(--light-border-color);
  border-radius: 1rem;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    border-bottom: 2px solid var(--light-border-color);
  }
  &__date {
    font-size: 1.5rem;
    margin-bottom: 5px;
    &-number {
      font-weight: bold;
    }
    &-weekday {
      margin-left: 16px;
      border: 1px solid var(--light-border-color);
      border-radius: 5px;
      padding: 2px 7px 3px;
      font-size: 1.15rem;
    }
  }
  &__time {
    font-size: 1.5rem;
  }
  &__management {
    display: flex;
    align-items: flex-start;
  }
  &__button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    &:hover {
      background-color: var(--secondary-background-color);
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
  &__text {
    padding: 16px 15px;
  }
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  max-width: 540px;
  margin: 30px auto;
  &__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }
  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      background-color: var(--intermediate-background-color);
    }
    &-image svg {
      width: 80px;
      height: 80px;
      margin-bottom: 10px;
    }
  }

  &__pass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-form {
      display: flex;
    }
    &-input {
      font-size: 2rem;
      padding: 1rem;
      &:focus {
        background-color: var(--background-color);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
          0 0 0 var(--focus-shadow-large-spread)
            var(--form-box-shadow-color-focus);
      }
      &.input-error {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
          0 0 0 var(--focus-shadow-large-spread)
            var(--form-box-shadow-color-focus-error) !important;
      }
    }
    &-submit {
      padding: 0.75rem;
      height: 100%;
      margin-top: 0.25rem;
      margin-left: 0.5rem;
      opacity: 0.65;
      &:hover {
        opacity: 1;
      }
    }
    svg {
      width: 44px;
      height: 44px;
    }
  }
  &__last {
    flex-direction: column;
    display: flex;
    &-item {
      display: flex;
      border-radius: 8px;
      margin-bottom: 3px;
      &:hover {
        background-color: var(--intermediate-background-color);
      }
      &-active {
        background-color: var(--secondary-background-color);
        &:hover {
          background-color: var(--selectable-on-secondary-item-color);
        }
      }

      &-text {
        flex-grow: 5;
        padding: 9px 10px;
        cursor: pointer;
      }
      &-remove {
        margin: 8px 10px;
        width: 20px;
        height: 20px;
        opacity: 0.3;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &__add {
    max-width: 440px;
    width: 100%;
    &-input {
      margin-bottom: 15px;
      font-size: 1.3rem;
      width: 100%;
    }
    &-submit {
      margin: 30px auto 0;
      padding: 6px 12px;
    }
  }
  &__find {
    max-width: 440px;
    width: 100%;
    &-submit {
      margin: 30px auto 0;
      padding: 6px 12px;
    }
  }
}

.settings {
  display: flex;
  position: fixed;
  width: 100%;
  top: 59px;
  left: 0;
  background: var(--background-color);
  &__title {
    text-align: left;
    &_primary {
      font-size: 2.5rem;
    }
    &_secondary {
      font-size: 1.5rem;
      margin: 23px 0 20px;
    }
  }
  &__button_inline {
    display: inline;
    margin: 5px 10px;
  }
}

.sidebar {
  background-color: var(--secondary-background-color);
  height: 100%;
  min-height: calc(100vh - var(--header-height));
  width: 270px;
  border-right: 1px solid var(--light-border-color);
  &__item {
    padding: 10px 18px;
    font-size: 1.3rem;
    cursor: pointer;
    &:hover {
      background-color: var(--selectable-on-secondary-item-color);
    }
    &_active {
      background-color: var(--selected-on-secondary-item-color);
      &:hover {
        background-color: var(--selected-on-secondary-item-color);
      }
    }
  }
}

.mainbar {
  width: calc(100vw - 270px);
  padding: 16px 20px;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.hotkey {
  &__combination {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    width: 128px;
    display: inline-block;
    margin: 0 20px 15px 0;
  }
}

.modal-window {
  position: fixed;
  width: 100%;
  height: calc(100% - 59px);
  background-color: var(--background-color);
  top: 59px;
  right: 0;
}

.container-wrapper {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

// ==========================================

.checkbox-ios {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
}
.checkbox-ios .checkbox-ios-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 56px;
  height: 28px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25%/50%;
  vertical-align: top;
  background: #eee;
  transition: 0.2s;
}
.checkbox-ios .checkbox-ios-switch:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.15s;
}
.checkbox-ios input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox-ios
  input[type="checkbox"]:not(:disabled):active
  + .checkbox-ios-switch:before {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
.checkbox-ios input[type="checkbox"]:checked + .checkbox-ios-switch {
  background: limegreen;
}
.checkbox-ios input[type="checkbox"]:checked + .checkbox-ios-switch:before {
  transform: translateX(28px);
}

/* Hover */
.checkbox-ios input[type="checkbox"]:not(:disabled) + .checkbox-ios-switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.3);
}

/* Disabled */
.checkbox-ios input[type="checkbox"]:disabled + .checkbox-ios-switch {
  filter: grayscale(70%);
  border-color: rgba(0, 0, 0, 0.1);
}
.checkbox-ios input[type="checkbox"]:disabled + .checkbox-ios-switch:before {
  background: #eee;
}

.switcher {
  margin: 12px 0;
}
