@import "/src/assets/styles/colors.scss";
@import "/src/assets/styles/mediaQueries.scss";

.button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  display: block;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  word-wrap: break-word;
  svg {
    width: 27px;
    height: 27px;
  }
  &:disabled {
    opacity: 0.6;
    color: $light-black;
    background-color: $light-gray;
  }

  &_primary {
    @extend .button;
    border: 3px solid $dark-gray;
    background-color: $lightest-gray;
    &:hover {
      background-color: $light-gray;
    }
    &:focus {
      box-shadow: 0 0 3px 3px $light-gray;
    }
  }

  &_secondary {
    @extend .button;
    border: 3px solid $dark-gray;
    background-color: $background-color;
    &:hover {
      background-color: $lightest-gray;
    }
    &:focus {
      box-shadow: 0 0 3px 3px $light-gray;
    }
  }

  &_large {
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 20px;
    margin: 20px;
    @include _576 {
      font-size: 18px;
      padding: 9px 18px;
      margin: 19px;
    }
    @include _430 {
      padding: 8px 16px;
    }
  }
  &_medium {
    border-radius: 10px;
    padding: 7px 14px;
    font-size: 17px;
    margin: 5px;
    @include _576 {
      font-size: 16px;
      margin: 4px;
      padding: 6px 12px;
    }
  }
}
