@import "/src/assets/styles/colors.scss";
@import "/src/assets/styles/mediaQueries.scss";

.donate-crypto {
  margin: 20px auto;
  border: 3px solid $dark-gray;
  border-radius: 30px;
  max-width: 280px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  &__qr {
    width: 100%;
  }
  &__address {
    word-wrap: break-word;
    width: 100%;
    padding: 3px 5px 5px;
    box-sizing: border-box;
    font-family: "Roboto Mono";
    margin: 10px 0;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 12px;
    &:hover {
      background-color: $lightest-gray;
    }
    &_copied {
      border-color: $medium-gray;
      background-color: $background-color-dark;
      box-shadow: 0 0 3px 3px $medium-gray;
    }
  }
}
