@import "/src/assets/styles/colors.scss";
@import "/src/assets/styles/mediaQueries.scss";

.wysiwyg {
  &__menu {
    display: flex;
    justify-content: center;
    &-group {
      display: flex;
      margin: 10px 7px 15px;
      &-item {
        margin: 0 3px;
        padding: 5px 8px;
        display: flex;
        align-items: center;
        height: 40px;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  &__editor .ProseMirror {
    min-height: 380px;
    border: 3px solid $medium-gray;
    border-radius: 1rem;
    padding: 12px 26px;
    font-size: 18px;
    @include _992 {
      min-height: 330px;
    }
    @include _768 {
      min-height: 280px;
      font-size: 17px;
      padding: 10px 22px;
    }
    @include _576 {
      min-height: 260px;
      padding: 9px 20px;
    }
    @include _430 {
      min-height: 220px;
      font-size: 16px;
      padding: 9px 18px;
    }
    &:focus {
      box-shadow: 0 0 5px 3px $light-gray;
    }

    & p.is-editor-empty::before {
      content: "Напишите здесь что-нибудь...";
      color: $light-black;
      opacity: 0.6;
      float: left;
      pointer-events: none;
      height: 0;
    }
  }
}
