@import "/src/assets/styles/colors.scss";

.header {
  background-color: $lightest-gray;
  min-height: 65px;
  display: flex;
  align-items: stretch;
  border-bottom: 3px solid $dark-gray;
  position: fixed;
  width: 100%;
  z-index: 5;
  &__username {
    align-self: center;
    flex: 1;
    padding: 10px 30px;
    font-size: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__navigation {
    display: flex;
    align-items: stretch;
    &-item {
      display: flex;
      align-items: center;

      margin: 0;
      border: none;
      cursor: pointer;
      background-color: transparent;
      padding: 0 18px;
      &:hover {
        background-color: $light-gray;
        border: none;
      }
      &_active {
        background-color: $light-gray;
        &:hover {
          background-color: $medium-gray;
        }
      }
      &-icon {
        height: 35px;
        width: 35px;
        color: $light-black;
      }
    }
  }
}
