@import "/src/assets/styles/colors.scss";

@mixin standard-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.form__group {
  position: relative;
  &:hover > .form__group-label {
    color: $dark-gray;
  }
  &-field {
    @include standard-input();
    border: 0;
    border-bottom: 2px solid $medium-gray;
    outline: none !important;
    color: $dark-gray;
    background: transparent;
    transition: border-color 0.2s;
    &::placeholder {
      color: transparent;
    }
    &:placeholder-shown ~ .form__group-label {
      cursor: text;
    }
    &:hover {
      border-bottom: 2px solid $dark-gray;
      box-shadow: inset 0px -1px 0px $medium-gray;
      color: $light-black;
    }
    &:focus {
      ~ .form__group-label {
        color: $dark-gray;
      }
      color: $black;
      border-bottom: 2px solid $light-black;
      box-shadow: inset 0px -1px 0px $medium-gray;
    }
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
  &-label {
    position: absolute;
    display: block;
    transition: 0.2s;
    font-weight: bold;
    color: $medium-gray;
    user-select: none;
  }
}

.form__group_large {
  padding: 20px 0 0;
  margin: 12px 0 24px;
  > .form__group-field {
    font-size: 24px;
    padding: 5px;
    &:placeholder-shown ~ .form__group-label {
      font-size: 24px;
      top: 25px;
    }
    &:focus {
      ~ .form__group-label {
        font-size: 20px;
        top: 0;
      }
      padding-bottom: 5px;
    }
  }
  > .form__group-label {
    font-size: 20px;
    top: 0;
  }
}

.form__group_medium {
  padding: 16px 0 0;
  margin: 11px 0 21px;
  > .form__group-field {
    font-size: 18px;
    padding: 5px;
    &:placeholder-shown ~ .form__group-label {
      font-size: 18px;
      top: 20px;
    }
    &:focus {
      ~ .form__group-label {
        font-size: 16px;
        top: 0;
      }
      padding-bottom: 5px;
    }
  }
  > .form__group-label {
    font-size: 16px;
    top: 0;
  }
}

.file-input {
  @include standard-input();
  font-size: 24px;
  display: flex;
  margin: 30px 0 20px;
  &__field {
    display: none;
  }
  &__description {
    width: 50%;
    padding: 12px;
    border-right: 3px solid $dark-gray;
    background-color: $light-gray;
    border-radius: 20px 0 0 20px;
    border: 3px solid $dark-gray;
  }
  &__file-name {
    padding: 12px;
    width: 50%;
    border-radius: 0 20px 20px 0;
    border: 3px solid $dark-gray;
    border-left: 0;
  }
}

.select {
  margin: 0 10px;
  -webkit-appearance: none;
  padding: 7px 40px 7px 12px;
  border: 3px solid $dark-gray;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
  background-color: inherit;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;

  &:required:invalid {
    color: #5a667f;
  }
  & option {
    color: $light-black;
    background-color: $background-color;
  }
  & option[value=""][disabled] {
    display: none;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 3px 3px $light-gray;
  }
  &_stretched {
    width: 100%;
  }
}
