@import "/src/assets/styles/mediaQueries.scss";

main {
  padding: 67.4px 0 0;
}

.main {
  &_setting {
    padding: 10px 30px !important;
    overflow-y: auto;
    flex: 1;
    @include _768 {
      box-sizing: border-box;
      margin: auto;
      width: 576px;
      padding: 0 30px;
    }
    @include _576 {
      width: 100%;
    }
    @include _430 {
      padding: 0 18px;
    }
  }
}
