.text-block {
  &_largest {
    font-size: 32px;
    margin-bottom: 24px;
  }
  &_large {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 25px;
  }
  &_medium {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 24px;
  }
  &_small {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}
