.title {
  &_largest {
    font-size: 50px;
    margin: 30px 10px 40px;
  }
  &_large {
    font-size: 40px;
    margin: 20px 10px 30px;
  }
  &_medium {
    font-size: 28px;
    margin: 20px 10px;
  }

  &_center {
    text-align: center;
  }
  &_left {
    text-align: left;
  }
  &_right {
    text-align: right;
  }
}
