@import "/src/assets/styles/colors.scss";
@import "/src/assets/styles/mediaQueries.scss";

.switch {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  @include _576 {
    font-size: 17px;
  }
  @include _430 {
    font-size: 16px;
  }
  &__control {
    display: block;
    position: relative;
    padding-right: 16px;
    cursor: pointer;
    user-select: none;
    width: 68px;
    height: 34px;
    @include _576 {
      width: 60px;
      height: 30px;
    }
    @include _430 {
      padding-right: 12px;
    }

    &-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .switch__control-inner {
        background-color: $medium-gray;
        &:after {
          left: 36px;
          @include _576 {
            left: 32px;
          }
        }
      }
      &:focus ~ .switch__control-inner {
        box-shadow: 0 0 3px 3px $light-gray;
      }
    }
    &-inner {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      height: 34px;
      width: 68px;
      border-radius: 17px;
      background-color: $background-color;
      transition: background-color 0.15s ease-in;
      border: 3px solid $light-black;
      @include _576 {
        width: 60px;
        height: 30px;
        border-radius: 15px;
      }
      &:after {
        box-sizing: border-box;
        content: "";
        position: absolute;
        left: 3.5px;
        top: 2.8px;
        width: 24px;
        height: 24px;
        border-radius: 17px;
        background: $background-color;
        transition: left 0.15s ease-in;
        border: 3px solid $light-black;
        @include _576 {
          width: 21px;
          height: 21px;
          top: 2px;
          left: 3px;
        }
      }
    }
  }
}
